template(name='nav')
    .ui.attached.menu
        a#home_link.item
            | Collider
        .ui.category.search.two.wide.item
            .ui.transparent.icon.input
                input.search(type='text', placeholder='Search...')
                i.search.link.icon
        a.item#add_doc
            i.plus.icon
            | Add
        .right.menu
            +atNavButton