// .card > .ui.button, #cloud > .ui.button
.ui.button
    margin  .2em !important

body
    // background lightgrey !important
    background #eeeeee !important
    // font-size 15px !important
    // line-height 1.5em
    // margin-top 5em

.centered
    margin 0 auto

// #column
//     @media (max-width: 500px)
//         column-count: 1
//     @media (min-width: 500px)
//         column-count: 2
// 	column-fill: auto

.fixed.button
      margin-top 5em

.-autocomplete-container
    margin-top 10px

// #column > *
//     margin-top: 0px

// .pin
//     width: 100%
//     display: inline-block
//     padding: 10px
//     margin-bottom: 5px
//     position: relative
//     border 15px solid green

.ui.tag.label
    margin-left 1em !important


// .ui.menu.grid > .computer.only.row
//     padding 0

// .ui.menu.grid > .mobile.only.row
//     padding 0

// .search
//     width 400px

