template(name='comments')
    .ui.card
        .content
            .ui.comments
                .ui.header
                    i.large.arrow.left.link.icon.view_main
                    | Comments
                each comments
                    +comment
        .content
            form.ui.reply.form
                .field
                    input#comment_area(type='text' maxLength='200')
                .ui.blue.labeled.submit.icon.button.add_comment
                    i.icon.edit
                    |  Add Comment

template(name='comment')
    .comment
        a.avatar
            i.user.icon
        .content
            a.author #{author.username}
            .metadata
                span.date #{timestamp}
            .text
                | #{text}
