template(name='view_price')
    | $ #{price}
    if can_buy
        .buy.ui.basic.button Buy for $#{price}

template(name='edit_price')
    label Price
    .ui.left.icon.input
        i.dollar.icon
        input.edit_price(type='number' min='0' value=price)

