template(name='price')
    .ui.header Price
        if editing_price
            i.check.green.link.icon.save_price
        else
            i.pencil.link.icon.edit_price
    if editing_price
        .ui.left.icon.input
            i.dollar.icon
            input.edit_price(type='number' min='0' value=price)
    else
        | $ #{price}
        if can_buy
            .buy.ui.basic.button Buy for $#{price}