template(name='upgrade')
    .ui.container.segment
        h1.ui.header Upgrade Account
        |Current Account: 
        if currentUser.account
            #{currentUser.account}
        h3.ui.header
        |Business Plan Details
        ul
            li Reserved Tag
            li Accounts Dashboard for Users
            li Custom Doc Type Creation
