template(name='cloud')
    .ui.center.aligned.segment
        if selected_tags
            button.ui.button#cleartags.primary
                i.fa.fa-minus
        if selected_tags
            each selected_tags
                button.ui.button.primary.unselecttag
                    strong #{this}
        each globaltags
            button.ui.basic.button.selecttag #{this.name}
                small #{this.count}
