template(name='cloud')
    .ui.center.aligned.segment
        if selected_tags
            button#cleartags.button-primary
                i.fa.fa-minus
        if selected_tags
            each selected_tags
                button.button-primary.unselecttag
                    strong #{this}
        each globaltags
            button.selecttag #{this.name}
                small #{this.count}
