template(name='updateProfile')
    .ui.container
        .ui.center.aligned.basic.segment
            +avatar user=currentUser size='extra-large' shape='circle' class='center aligned'
            h1.ui.header #{currentUser.username}
            +your_tags
