template(name='your_tags')

    strong Self Tags
    div
        each user.tags
            button.remove_self_tag
                |#{this}
                i.fa.fa-times
        .input
            input#add_self_tag(type='text' autofocus='' placeholder='Tag yourself...')
    strong Top Matched
    div
        each matchedUsersList
            .item
                strong #{this.matchedUser} (#{this.length}):
                each this.tagIntersection
                    | #{this} &nbsp;
