template(name='your_tags')
    .ui.header Self Tags
    div
        each user.tags
            .ui.button.remove_self_tag
                |#{this}
                i.remove.icon
        .ui.icon.input
            input#add_self_tag(type='text' autofocus='' placeholder='Tag yourself...')
            i.plus.icon
    .ui.header Top Matched People
    div
        each matchedUsersList
            .item
                strong #{this.matchedUser} (#{this.length}):
                each this.tagIntersection
                    | #{this} &nbsp;
