template(name='your_tags')
    div
        each user.tags
            button.tag
                |#{this}
                i.fa.fa-times
        .input
            input#addtag(type='text' autofocus='' placeholder='Tag yourself...')
    strong Top Matched Users
    div
        each matchedUsersList
            .item
                strong #{this.matchedUser} (#{this.length}):
                each this.tagIntersection
                    | #{this} &nbsp;
