template(name='your_tags')
    // .ui.header Your Tags
    div
        each user.tags
            button.tag
                |#{this}
                i.fa.fa-times
        .input
            input#addtag(type='text' autofocus='' placeholder='Tag yourself...')
