template(name='location')
    // .ui.header Date/Time
    .ui.form
        .inline.field
            label Add Address
            i.map.icon
            input#place(type='text' value=locationob.formatted_address)
            .ui.icon.basic.button.clearAddress Clear
