template(name='comments')
    .ui.comments
        h3.ui.dividing.header Comments
        .comment
            a.avatar
                img(src='/images/avatar/small/matt.jpg')
            .content
                a.author Matt
                .metadata
                    span.date Today at 5:42PM
                .text
                    | How artistic!
                .actions
                    a.reply Reply
        form.ui.reply.form
            .field
                .ui.input
                    input#add_comment(type='text')
            .ui.blue.labeled.submit.icon.button
                i.icon.edit
                |  Add Reply
