template(name='docs')
    .ui.grid
        .ui.ten.wide.column
            +cloud
        .ui.six.wide.column
            +top_matches
    .ui.container
        .ui.stackable.two.cards
            each docs
                .ui.card
                    +doc

