template(name='docs')
    .ui.stackable.grid
        .ui.ten.wide.column
            +cloud
        .ui.six.wide.column
            +top_matches
    // #column.ui.container
    #column
        each docs
            .pin.ui.segment
                +doc

