template(name='feed')
    // .row
    //     .twelve.columns
            // form.search-posts-form(data-id='search-posts-form')
            //     input.u-full-width(type='text', placeholder='Search posts...', data-id='search-query')
    // hr
    // .row
    //     .twelve.columns
    //         .text-center
    //             ul.feed-filter
    //                 li
    //                     button(type='button', class="{{activeIfFilterIs 'all'}}", data-id='all') All
    //                 li
    //                     button(type='button', class="{{activeIfFilterIs 'following'}}", data-id='following') Following
    // hr
    .row
        .twelve.columns
            form(data-id='insert-post-form')
                +textareaAutocomplete(settings=settings data-id="body" class="u-full-width insert-post-form" rows="1" placeholder="Write something...")
                input.button-primary.u-pull-right(type='submit', value='Submit')
    .row
        .twelve.columns
            each posts
                +post post=this
