template(name='footer')
  footer.footer
    .container
      .row
        .twelve.columns
          // .text-center
          //   | Powered by
          //   a(href='http://www.facet.cloud', target='_blank') Facet
