template(name='header')
    .ui.menu
        a.item(href='/')
            img.logo(src='/img/ship_wheel-48.png', alt='HubCollider Logo')
            span Hub
                strong Collider
        a.item(class="{{activeIfRouteNameIs 'browseUsers'}}" href="{{pathFor 'browseUsers'}}")
            i.users.icon
            |  People
        a.item(href="{{pathFor 'messages'}}" class="{{activeIfRouteNameIs 'messages'}}")
            i.envelope.icon
            | Messages #{getUnreadCount}
        if currentUser
            a.item(href="{{pathFor 'updateProfile'}}" class="{{activeIfRouteNameIs 'updateProfile'}}")
                i.settings.icon
                |  Update profile
            .item.sign-out
                .ui.button(data-id='sign-out')
                    i.fa.fa-sign-out.fa-lg
                    |Sign out #{currentUser.username}
