head
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    title HubCollider
body
    #leftSidebarMenu.ui.sidebar.inverted.vertical.menu
        a.item
            | 1
        a.item
            | 2
        a.item
            | 3   
