template(name='nav')
    .ui.stackable.fixed.menu
        .ui.simple.dropdown.icon.item
            i.content.icon
            .menu
                a#economy_link.item
                    i.cart.green.icon
                    | Economy
                a#academy_link.item
                    i.university.yellow.icon
                    | Academy
                a#perks_link.item
                    i.trophy.big.icon
                    | Perks
                a#crowd_sourcing_link.item
                    i.users.big.icon
                    | Crowd Sourcing
        a.item(href='/')
            img.logo(src='/img/ship_wheel-48.png', alt='HubCollider Logo')
            span Hub
            strong Collider
            span Beta
        .item
            .ui.transparent.icon.input
                input#search(type='text', placeholder='Search...')
                i.search.link.icon
        .right.menu
            if currentUser
                a#add_doc.item
                    i.plus.icon
                    i.file.outline.icon
                a#add_econ.item
                    i.plus.icon
                    i.large.green.cart.icon
                a#add_acad.item
                    i.plus.icon
                    i.large.yellow.university.icon
                a.item(href="{{pathFor 'updateProfile'}}" class="{{activeIfRouteNameIs 'updateProfile'}}")
                    i.user.icon
                    |  Profile
                a.item.sign-out(data-id='sign-out')
                    i.sign.out.icon
                    |Logout #{currentUser.username}
            a#rightMenu.icon.item
                i.alarm.outline.icon
