template(name='nav')
    .ui.stackable.fixed.menu
        // .ui.simple.dropdown.icon.item
        //     i.content.icon
        //     .menu
        //         a#economy_link.item
        //             i.cart.green.icon
        //             | Economy
        //         a#academy_link.item
        //             i.university.yellow.icon
        //             | Academy
        //         a#perks_link.item
        //             i.trophy.big.icon
        //             | Perks
        //         a#crowd_sourcing_link.item
        //             i.users.big.icon
        //             | Crowd Sourcing
        a#home_link.item
            // img.logo(src='/img/ship_wheel-48.png', alt='HubCollider Logo')
            i.asterisk.icon
            | Collider
        .item
            .ui.transparent.icon.input
                input#search(type='text', placeholder='Search...')
                i.search.link.icon
        .right.menu
            if currentUser
                a#view_me.item(class=view_me_class)
                    i.user.icon
                    | Me
                a#add_doc.item
                    i.plus.icon
                    |Add
                // .ui.simple.dropdown.item
                //     i.plus.icon
                //     span.text Add
                //     i.dropdown.icon
                //     .menu
                //         if selected_tags
                //             #newFromSelection.item
                //                 i.external.square.icon
                //                 |From Selection
                //         a#add_doc.item
                //             i.file.outline.icon
                //             |Blank
                //         // a#add_econ.item
                //         //     i.large.green.cart.icon
                //         //     |Economy
                //         // a#add_acad.item
                //         //     i.large.yellow.university.icon
                //         //     |Academy
                //         .header From Bookmarks
                //         each currentUser.bookmarks
                //             .item.add_from_bookmark
                //                 each this
                //                     .ui.label #{this}
                // .ui.simple.dropdown.icon.item
                //     i.bookmark.icon
                //     // span.text Bookmarks
                //     i.dropdown.icon
                //     .menu
                //         each currentUser.bookmarks
                //             .item.select_bookmark
                //                 each this
                //                     .ui.label #{this}
                // a.item(href="{{pathFor 'updateProfile'}}" class="{{activeIfRouteNameIs 'updateProfile'}}")
                //     i.user.icon
                //     |  Profile
                // a.icon.item(href="{{pathFor 'messages'}}" class="{{activeIfRouteNameIs 'messages'}}")
                //     i.mail.icon
                a.item.sign-out(data-id='sign-out')
                    i.sign.out.icon
                    |Logout #{currentUser.username}
            // +atNavButton
            // a#rightMenu.icon.item
            //     i.alarm.outline.icon
    // .ui.modal.view_doc
    //     .content
    //         if is_editing
    //             +edit
    //         else
    //             +big_card