template(name='layout')
    +nav
    #leftMenu.ui.big.black.left.floated.fixed.button
        i.content.icon
        | Menu    
    #rightMenu.ui.big.black.right.floated.fixed.button
        | Feed &nbsp;
        i.content.icon
          // Site content !
    .pusher
        #mainContent.ui.container
            +Template.dynamic template=main
    
        
    
