template(name='layout')
    .ui.thin.sidebar.vertical.inverted.menu
        a#home_link.icon.item
            // .centered
            img.logo(src='https://www.impacthub.net/wp-content/themes/impacthub/assets/img/impact-hub-logo.png', alt='HubCollider Logo')
        // a#menu.item
        //     i.exchange.icon
        //     | Menu
        a#home_link.header.item
            // img.logo(src='/img/ship_wheel-48.png', alt='HubCollider Logo')
            | Collider
        a.item.side_menu_item(href='/feed')
            i.feed.icon
            |Feed
        a.item.side_menu_item(href='/jobs')
            i.suitcase.icon
            |Jobs
        a.item.side_menu_item(href='/events')
            i.empty.calendar.icon
            |Events
        a.item.side_menu_item(href='/people')
            i.users.icon
            |People
    // .pusher
    +nav
    .ui.container.segment
        +Template.dynamic template=main
