template(name='layout')
    +nav
    // #leftMenu.ui.basic.left.floated.fixed.button
    //     i.content.icon
    //     | Menu
    // #rightMenu.ui.basic.right.floated.fixed.button
    //     | Feed &nbsp;
    //     i.content.icon
          // Site content !
    .pusher
        #mainContent.ui.container
            +Template.dynamic template=main



