// Main template for the Messages page
template(name='messages')
    #messagesButtons
        button#allMessagesButton Messages
        button#composeButton Compose
    // Use session variables to determine which template to display
    if showAllMessages
        +allMessages
    else
        if showSingleMessage
            +singleMessage
        else
            +compose


// Template to display all messages for current user
template(name='allMessages')
    #allMessagesArea
        if messagesEmpty
            h1.emptyMessage None
        else
            table
                tbody
                    each getAllMessages
                        tr.msg(id='{{_id}}', class='{{getMostRecentRead conversation}}')
                            td.smallCol {{getOtherUsername originatingFromName originatingToName}}
                            td.largeCol {{getMostRecentBody conversation}}
                            td.smallCol {{formatDate conversation}}
                            td
                                button.u-pull-right.no-button.remove-message(data-id='remove-message')
                                    i.fa.fa-trash

// Template to display a single message that the user clicked on
template(name='singleMessage')
    #singleMessageContainer
        with getSingleMessage
            #singleMessageHeaderArea
                var
                    b {{getOtherUsername originatingFromName originatingToName}}
                hr
            #singleMessageArea
                each conversation
                    if showMessage originatingFromDeleted originatingToDeleted
                        if fromOtherUser from to
                            var.individualMessage.left
                                p #{body}
                                span.individualMessageDate.left {{formatDate sentOn}}
                        else
                            var.individualMessage.right
                                p {{body}}
                                span.individualMessageDate.right {{formatDate sentOn}}
            #singleMessageReplyArea
                form(data-id='reply-message-form')
                    textarea.u-full-width.message-body-form(rows='1', placeholder='Write something...', data-id='reply-body')
                    input.button-primary.u-pull-right(type='submit', data-id='reply-submit', value='Send')

// Template to compose a new message
template(name='compose')
    .send-message
        form(data-id='send-message-form')
            +inputAutocomplete settings=settings data-id="message-to" class="u-full-width insert-post-form" placeholder="To"
            textarea.u-full-width.message-body-form(rows='1', placeholder='Write something...', data-id='message-body')
            input.button-primary.u-pull-right(type='submit', data-id='message-submit', value='Send')

// Template to display list of matching users in To field on compose
template(name='userList')
    span.label #{username}
