// Main template for the Messages page
template(name='messages')
    #messagesButtons
        .ui.button#allMessagesButton Messages
        .ui.right.floated.button#composeButton Compose
    // Use session variables to determine which template to display
    if showAllMessages
        +allMessages
    else
        if showSingleMessage
            +singleMessage
        else
            +compose


// Template to display all messages for current user
template(name='allMessages')
    #allMessagesArea.ui.segment
        if messagesEmpty
            h1.emptyMessage None
        else
            .ui.relaxed.divided.selection.list
                each getAllMessages
                    .item.msg(id='{{_id}}', class='{{getMostRecentRead conversation}}')
                        .right.floated.content
                            .ui.icon.button.u-pull-right.no-button.remove-message(data-id='remove-message')
                                i.fa.fa-trash
                        .content
                            .header {{getOtherUsername originatingFromName originatingToName}}
                            .description {{getMostRecentBody conversation}}
                            .meta {{formatDate conversation}}

// Template to display a single message that the user clicked on
template(name='singleMessage')
    #singleMessageContainer.ui.segment
        with getSingleMessage
            #singleMessageHeaderArea.ui.dividing.header {{getOtherUsername originatingFromName originatingToName}}
            #singleMessageArea
                each conversation
                    if showMessage originatingFromDeleted originatingToDeleted
                        if fromOtherUser from to
                            var.individualMessage.left
                                p #{body}
                                span.individualMessageDate.left {{formatDate sentOn}}
                        else
                            var.individualMessage.right
                                p {{body}}
                                span.individualMessageDate.right {{formatDate sentOn}}
            #singleMessageReplyArea
                form.ui.form(data-id='reply-message-form')
                    textarea.u-full-width.message-body-form(rows='1', placeholder='Write something...', data-id='reply-body')
                    input.ui.floated.right.button(type='submit', data-id='reply-submit', value='Send')

// Template to compose a new message
template(name='compose')
    .send-message
        form.ui.form(data-id='send-message-form')
            .field
                +inputAutocomplete settings=settings data-id="message-to" class="u-full-width insert-post-form" placeholder="To"
            .field
                textarea.u-full-width.message-body-form(rows='1', placeholder='Write something...', data-id='message-body')
            button.ui.floated.right.primary.button(type='submit', data-id='message-submit') Send

// Template to display list of matching users in To field on compose
template(name='userList')
    i.user.icon
    span #{username}
