template(name='nav')
    .ui.stackable.fixed.menu
        a.item(href='/')
            img.logo(src='/img/ship_wheel-48.png', alt='HubCollider Logo')
            span Hub
                strong Collider
        .item
            .ui.transparent.icon.input
                input(type='text', placeholder='Search...')
                i.search.link.icon
        .right.menu
            if currentUser
                a.item(href="{{pathFor 'updateProfile'}}" class="{{activeIfRouteNameIs 'updateProfile'}}")
                    i.alarm.outline.icon
                    |  Profile
                a.item.sign-out(data-id='sign-out')
                    i.sign.out.icon
                    |Logout #{currentUser.username}
