template(name='date')
    .ui.form
        .inline.field
            label Date/Time
            i.calendar.outline.icon
            // .ui.left.icon.input
            input#datepicker(type="text" value=date)
            .ui.icon.basic.button.clear_date Clear