template(name='small_view')
    .ui.card
        .ui.people.shape
            .sides
                .active.side
                    +small_card
                // if is_author
                //     .side
                //         +edit
                .side
                    +comments
        // .content
        //     .ui.basic.buttons
        //         .ui.button.turn_left
        //             i.arrow.left.icon
        //             |Turn Left
        //         .ui.button.turn_right
        //             |Turn Right
        //             i.arrow.right.icon