template(name='followButton')
    if isThisUserNotCurrentUser
        if isCurrentUserFollowingThisUser
            button.button-danger(data-id='unfollow')
                i.fa.fa-minus
                i.fa.fa-user
                |  Unfollow
        else
            button.button-primary(data-id='follow')
                i.fa.fa-plus
                i.fa.fa-user
                |  Follow
