template(name='description')
    .ui.header Description
        if editing_description
            i.check.green.link.icon.save_description
        else
            i.pencil.link.icon.edit_description
    if editing_description
        +edit_description
    else
        // if is_author
        +view_description

template(name='view_description')
    | #{description}

template(name='edit_description')
    .ui.form
        .field
            textarea.text(rows='5') #{description}